.center {
  margin-right: auto;
  margin-left: auto;
  width: 80%; }

.header-banner {
  padding-top: 20vh;
  background-color: #320847;
  text-align: center; }

.site-link {
  text-decoration: none;
  color: white;
  padding-bottom: 20vh; }
  .site-link:hover {
    text-decoration: none;
    color: white; }

.logo {
  height: 8vw;
  padding-left: 2vw;
  padding-top: 2vw;
  display: block; }

.back-arrow {
  width: 4vw;
  height: auto;
  padding-left: 4vw;
  padding-top: 1vw; }

.header-nav {
  position: absolute; }

.text-center {
  text-align: center; }

.portfolio-header-banner {
  color: white; }
  .portfolio-header-banner:hover {
    text-decoration: none; }

.desktop {
  border: solid 1px gray;
  border-radius: 5px; }
  @media (min-width: 550px) {
    .desktop {
      margin-left: 0; } }

.desktop-left {
  border: solid 1px gray;
  border-radius: 5px; }
  @media (min-width: 550px) {
    .desktop-left {
      margin-left: 4%; } }

.p-header {
  padding-bottom: 10vh;
  background-color: #320847; }

.p-about {
  margin-top: 5vh; }

.flex-box {
  width: 100%; }
  @media (min-width: 550px) {
    .flex-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .flex-box .flex-child {
    width: 100%; }
    @media (min-width: 550px) {
      .flex-box .flex-child {
        width: 33%; } }
  .flex-box .flex-child-vertical {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    @media (min-width: 550px) {
      .flex-box .flex-child-vertical {
        width: 20%; } }

.p-footer {
  background-color: #320847;
  padding-top: 10vh;
  margin-top: 20px; }

.logo-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 12vw; }

.link-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none; }

.back-arrow-footer {
  display: block;
  width: 8vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px; }
