$primary-color: #320847
$text-color: #2E2D33
$accent-color: #BD5248
$bg-color: #F6F6F8
$cta-color: #DD3C3C


.loader
  left: calc(50% - 10px)
  top: calc(50% - 10px)
  position: absolute
  width: 15px
  height: 15px
  border-radius: 50%
  &:nth-child(1)
    background-color: #B4DBC0
    animation: bounce 1s ease-in-out .10s infinite
  &:nth-child(2)
    left: calc(50% + 20px)
    background-color: #B56357
    animation: bounce 1s ease-in-out .30s infinite
  &:nth-child(3)
    left: calc(50% - 40px)
    background-color: #A7B3A5
    animation: bounce 1s ease-in-out  infinite
@keyframes bounce
  0%, 75%, 100%
    transform: translateY(0px)
  25%
    transform: translateY(-50px)

.loader-text
  text-align: center
  margin-top: calc(50vh + 20px)
  display: block

.whole-page
  display: none

.center
  text-align: center
.flex-container
  display: flex
  justify-content: center
  align-items: center



.flex
  display: flex
  justify-content: center
  align-items: center
  background-color: #999

.nav
  display: flex
  justify-content: space-around
  align-items: center
  position: relative
  background-color: $primary-color
  height: 50px
  top: -50px
  cursor: pointer

.nav-elements
  color: white
  text-decoration: none
  &:hover
    color: purple
    transform: scale(1.3)
    transition: .5s

.header
  display: block
  margin-right: auto
  margin-left: auto
  padding-top: 70px
  width: 90%
  @media (min-width: 550px)
    padding-top: 70px
  @media (min-width: 1000px)
    padding-top: 70px
    width: 60%
.mobile-add-height
  margin-top: 7vh
  @media (min-width: 800px)
    margin-top: 0

.description
  max-width: 100%
  margin-left: auto
  margin-right: auto
  padding-top: 10px
  text-align: center
  @media (min-width: 800px)
    max-width: 80%
    text-align: justify

.about-description
  opacity: 0
  max-width: 100%
  margin-left: auto
  margin-right: auto
  padding-top: 10px
  position: absolute
  transition: .1s ease-in-out

  @media (min-width: 800px)
    max-width: 60%
    margin-left: 20%
.about-description
  &:nth-child(1)
    font-family: "Noto Sans Japanese"
    font-weight: 200

.about-description-container
  height: 250px
  @media (min-width: 550px)
    height: 200px
.bio-more-container
  height: 900px
  @media (min-width: 550px)
    height: 700px
  @media (min-width: 800px)
    height: 800px
  @media (min-width: 1000px)
    height: 650px
  @media (min-width: 1200px)
    height: 600px
.bio-more-child
  opacity: 0
  position: absolute
  max-width: 100%
  margin-left: auto
  margin-right: auto
  text-align: justify
  transition: .1s ease-in-out
  @media (min-width: 800px)
    max-width: 60%
    margin-left: 20%
.bio-more-child
  padding-top: 20px
  &:nth-child(1)
    font-family: "Noto Sans Japanese"
    font-weight: 200

.bio-more-button
  font-size: 1.5rem
  font-weight: 300
  text-transform: lowercase
  color: inherit
  transition: .1s ease-in-out
.bio-more-button:hover
  border: 1px #69B9F2 solid
  transition: .1s ease-in-out
  

.show
  opacity: 100
  transition: .1s ease-in-out
.language-selector-child
  cursor: pointer
  padding: 0 10px
  border-bottom: 1px white solid
  transition: .1s ease-in-out
.language-selector-child:hover
  border-bottom: 1px #69B9F2 solid
  transition: .1s ease-in-out
.about-pic-box
  overflow: hidden

  .about-pic
    display: block
    margin-right: auto
    margin-left: auto
    width: 100%
    height: auto
    opacity: .6

.portfolio
  margin-top: 7vh

.skew-10-container
  transform: skewY(-4deg)
.skew-10
  transform: skewY(4deg)
  position: relative
  z-index: 1
  background: linear-gradient(-90deg, rgba(180, 219, 192, 0.8), rgba(202, 235, 242, 0.7))



.span-color
  height: 100vh
  width: 100vw
  background: #6B7A8F
  transform: skewY(-2deg)
  position: absolute
.top-span
  transform: skewY(-4deg)
  background: #4C5F79



.skew-25-container
  transform: skewY(-15deg)
  margin-top: 7vh
.skew-25
  transform: skewY(15deg)
  position: relative
  background: linear-gradient(-90deg, rgba(247, 195, 49, 0.8), rgba(247, 136, 47, 0.7))


.portfolio-thumb
  position: relative
  transition: .2s ease-in-out
  &:hover
    filter: hue-rotate(90deg) drop-shadow(3px 3px 5px white)
    transform: scale(1.01) 
    transition: .2s ease-in-out
    cursor: pointer
    
    
.overlay-container
  transition: .2s ease-in-out
  &:hover
    filter: drop-shadow(3px 3px 5px white)
    transform: scale(1.01) 
    transition: .2s ease-in-out

.overlay
  height: 98%
  width: 100%
  top: 0
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  opacity: .8
  background-color: #FAFAFA
  border-radius: 10px
  @media (min-width: 800px)
    opacity: 0
    background-color: none

.overlay
  &:hover
    transition: .1s ease-in-out
    opacity: .8
    background-color: #FAFAFA
    border-radius: 10px
   
  span
    font-size: 40px
    font-weight: 600
    transform: rotate(20deg)

.portfolio-bottom
  @media (min-width: 550px)
    margin-top: 3%

.contact-icon-group

  position: relative
  @media (min-width: 550px)
    padding-top: 40px

.container-contact
  margin-left: auto
  margin-right: auto
  display: block
  width: 65%

.contact-flex
  display: flex
  justify-content: space-around

.contact-icons
  cursor: pointer
  height: 40px
  padding-bottom: 6px
  padding-left: 20px
  padding-right: 20px
  &:hover
    border-bottom: 1px #69B9F2 solid
    padding-bottom: 5px
  @media (min-width: 550px)
    height: 50px
  @media (min-width: 800px)
    height: 60px

.contact-links
  text-decoration: none
  color: $cta-color
  transition: .1s ease-in-out
  border-bottom: 1px white solid
  &:hover
    color: $cta-color
    border-bottom: 1px #69B9F2 solid

.contact-button
  text-decoration: none
  cursor: pointer
  margin-bottom: 60px
  color: $cta-color
  font-size: 2.5rem
  padding-bottom: 6px
  display: inline-block
  &:hover
    text-decoration: none
    filter: opacity(80%)
    border-bottom: 1px #69B9F2 solid
    padding-bottom: 5px
  @media (min-width: 550px)
    font-size: 4rem

.footer-pic
  width: 100vw
.footer-container
  .footer-inner-1
    width: 0
    height: 0
    border-bottom: 70px solid #6B7A8F
    border-right: 100vw solid transparent
    position: absolute

  .footer-inner-2
    width: 0
    height: 0
    border-bottom: 70px solid #CA7A45
    border-left: 100vw solid transparent
    position: absolute
    